@use 'colors';
.sideBar {
    width: 260px;
    border-right: 1px solid colors.$border-color;
    display: flex;
    flex-direction: column;
    background-color: colors.$bg-color;
    flex-shrink: 0;
    height: 100vh;
    &_logo {
        font-size: 30px;
        color: #fff;
        font-weight: 600;
        text-align: center;
        height: 68px;
        line-height: 68px;
        letter-spacing: 4px;
        position: sticky;
    }
    &_listMenu {
        svg {
            height: 16px;
            margin-right: 20px;
        }
        padding: 30px;
        &_title {
            color: colors.$side-title;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        &_content {
            display: flex;
            flex-direction: column;
            font-size: 15px;
            white-space: nowrap;
            &_link {
                color: colors.$side-link;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                &_active {
                    color: #fff;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}